<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .table_style{
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 15pt;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 25px black;
        }
        .header_style{
            background-color: lightblue;
            color: black;
            text-align: center;
        }
        .cells_style{
            padding: 12px 15px;
            background-color: lightcoral;
        }
    </style>
    <title>HTML Table</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='my_style.css') }}">
</head>
<body>
    <h2>Names</h2>
    <table class="table_style">
        <thead class="header_style">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Full Name</th>
            </tr>
        </thead>
        <tbody>
            {% for person in users %}
                <tr>
                    <td class="cells_style">{{person['first_name']}}</td>
                    <td class="cells_style">{{person['last_name']}}</td>
                    <td class="cells_style">{{person['first_name']+" "+person['last_name']}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>